@import url('https://fonts.googleapis.com/css2?family=Grey+Qo&display=swap');

.header{
    height: 34vw;
    margin: 30px auto;
    background: url('/public/header_img1.png') no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap:1.5vw;
    max-width: 55%;
    bottom:30%;
    left: 6vw;
    animation: fadeIn 3s;
}
.header-contents h2{
    font-family: "Grey Qo", cursive;
    font-weight: 600;
    font-style: normal;
    color: rgb(251, 255, 254);
    font-size: max(5.5vw,22px);
}
.header-contents p{
    color: rgb(0, 0, 0);
    font-size: 1.5vw;
    font-family: "Grey Qo", cursive;
    font-weight: 600;
    font-style: normal;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.header-contents button{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid rgb(7, 7, 7);
    color:  #000000;
    font-weight: 600;
}
.header-contents button:hover{
    width: 100px;
    height: 40px;
    border-radius: 50px;
    border: 1px solid rgb(255, 255, 255);
    color:  #ffffff;
    background-color: #050505;
    font-weight: 600;
    cursor: pointer;
}
